body {
  background-color: #e99930;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  align-content: center;
}

.form-group {
  margin-bottom: 5px;
}
