body {
  background-color: #58329a;
}

.content {
  padding: auto auto;
}
.title {
  background-color:#ffed4d;
}

h1 {
  font-size: 48px;
  border-bottom: red solid 3px;
  text-align: center;
  margin: 0;
  padding: 40px 0 40px 0;
}

h2 {
  font-size: 28px;
  color: #FFEB3B;
}

ul {
  margin: 10px 20px 10px 20px;
}
li {
  padding: 5px;
  margin: 25px 620px 25px 0px;
  background: #ffffff;
  font-size: 24px;
}

button {
  font-size: 16px;
  margin: 4px;
  float: right;
}

label {
  font-weight: bold;
  color: #ffed4d;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  align-content: center;
}

.form-group {
  margin-bottom: 5px;
  font-size: 26px;
}

input {
  font-size: 24px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}
